
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    width: 100%;
    height: 10rem;
    background:#676470;
    transition:all 0.3s ease;
    border-radius: 30px;
    color: white;
    font-size: 40px;
}
/* box1 */
.box1 {
    background-color: lightslategray;
    opacity:0.5;
}
.box1:hover {
    opacity:1;
}
/* box2 */
.box2 {
    background-color: red;
}
.box2:hover {
    background:#53a7ea;
}
/* box3 */
.box3 {
    background-color: aqua;
}
.box3:hover {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}
/* box4 */
.box4 {
    background-color: yellow;
}
.box4:hover {
    -webkit-transform: rotateZ(-30deg);
    -ms-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg);
}
/* box5 */
.box5 {
    background-color: purple;
}
.box5:hover {
    border-radius:50%;
}
/* box6 */
.box6 {
    background-color: brown;
}
.box6:hover {
    box-shadow:
    1px 1px #53a7ea,
    2px 2px #53a7ea,
    3px 3px #53a7ea;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}
/* box7 */


.box7 {
    background-color: green;
}


    @-webkit-keyframes swing
    {
        15%
        {
            -webkit-transform: translateX(5px);
            transform: translateX(5px);
        }
        30%
        {
            -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
        } 
        50%
        {
            -webkit-transform: translateX(3px);
            transform: translateX(3px);
        }
        65%
        {
            -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
        }
        80%
        {
            -webkit-transform: translateX(2px);
            transform: translateX(2px);
        }
        100%
        {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }
    @keyframes swing
    {
        15%
        {
            -webkit-transform: translateX(5px);
            transform: translateX(5px);
        }
        30%
        {
            -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
        }
        50%
        {
            -webkit-transform: translateX(3px);
            transform: translateX(3px);
        }
        65%
        {
            -webkit-transform: translateX(-3px);
            transform: translateX(-3px);
        }
        80%
        {
            -webkit-transform: translateX(2px);
            transform: translateX(2px);
        }
        100%
        {
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }
    
    .box7:hover
    {
        -webkit-animation: swing 1s ease;
        animation: swing 1s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
    }





/* box8 */
.box8 {
    background-color: black;
}
.box8:hover {
    box-shadow: inset 0 0 0 25px #53a7ea;;
}

/* box9 */
.box9 {
    background-color: pink;
    height: 7rem;
    width: 100%;
    grid-column:  span 4;
}
.box9:hover {
    transform: scale(4);
}
